// 300
@font-face {
  font-family: 'NotoSans-Light';
  font-display: swap;
  src: url('../fonts/nano/NotoSans-Light.ttf') format('truetype');
}

// 400
@font-face {
  font-family: 'NotoSans-Regular';
  font-display: swap;
  src: url('../fonts/nano/NotoSans-Regular.ttf') format('truetype');
}

// 500
@font-face {
  font-family: 'NotoSans-Medium';
  font-display: swap;
  src: url('../fonts/nano/NotoSans-Medium.ttf') format('truetype');
}

// 600
@font-face {
  font-family: 'NotoSans-SemiBold';
  font-display: swap;
  src: url('../fonts/nano/NotoSans-SemiBold.ttf') format('truetype');
}

// 700
@font-face {
  font-family: 'NotoSans-Bold';
  font-display: swap;
  src: url('../fonts/nano/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  font-display: swap;
  src: url('../fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

// 800
@font-face {
  font-family: 'NotoSans-Black';
  font-display: swap;
  src: url('../fonts/nano/NotoSans-Black.ttf') format('truetype');
}